/clase01-variables/nbproject/private/
/clase01-variables/variables/nbproject/private/
/clase01-variables/variables/build/
*.xml
*.mf
*.properties
/clase02-tructura de una clase Java/JavaApplication3/nbproject/private/
/clase02-estructura de una clase Java/JavaApplication4/nbproject/private/
/clase01-variables/variables/dist/
/clase02-estructura de una clase Java/estructura_de_una_clase_Java/nbproject/private/
/clase02-estructura de una clase Java/JavaApplication4/build/
/clase02-estructura de una clase Java/estructura clase java/nbproject/private/

clase02-estructura de una clase Java/estructura clase java/src/estructura/clase/java/strings.java
/clase03-ejecutar un programa Java/JavaApplication6/nbproject/private/
/clase03-ejecutar un programa Java/Ejecutar programa Java/nbproject/private/
/clase03-ejecutar un programa Java/Ejecutar programa Java/build/
/clase03-ejecutar un programa Java/Ejecutar Programa Java/nbproject/private/
/clase03-ejecutar un programa Java/Ejecutar Programa Java/build/
s40/java/15/classes/ejecutar/programa/java/Bienvenido1.class
*.class
